.bucket_placeholder_logo {
  height: 175px;
  width: 175px;
  object-fit: contain;
  border-radius: 30px;
  border: 2px solid black;
}

.bucket-card {
  height: 340px;
  object-fit: contain;
}

.nl {
  white-space: pre-line;
  height: 100px;
  overflow: hidden;
}

.bucket-delete {
  position: absolute;
  right: 4px;
  top: 4px;
}
